*{
    margin: 0;
}
h1{
    font-size: 50px;
    /* margin-left: 20px ; */
    margin-top: 90px;
    font-family: Poppins-SemiBold;
}
/* h2{
    margin-left: 15px;
} */
.offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,#fee3ba -56.63%,#fff 56.16%,#c1e1c0 153.59%,rgba(5,135,0,.33) 153.61%);
    height: 5vw;
}
 .flagLeft{
    position: absolute;
    top: 0;
}
.Republic {
    font-family: cursive;
    margin-left: 100px;
    font-size: 1.2vw;
    color: #1c1ea2;
    font-weight: 600;
}
.top_logo_menu{
    border: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex; 
    padding: 18px;
}
.LogIn_button{
    font-family: Poppins-SemiBold;
    white-space: nowrap;
    font-size: 1.18vw;
    color: #444bab;
    cursor: pointer;
}
.SignUp_button{
    color: #fff;
    font-size: 1.17vw;
    border: none;
    cursor: pointer;
    background: linear-gradient(93.53deg,#444bab,#416bb3 62.5%,#3ca5c2);
    padding: 0.725vw 25px;
    border-radius: 5px;
    font-family: Poppins-SemiBold;
    white-space: nowrap;
    margin-right: 20px;
}
.top_menu{
    font-size: 1vw;
    margin: 0 1vw;
    white-space: nowrap;
    font-family: Gilroy-Medium;
    text-decoration: none;
}
.intro1{ 
    font-size: 3vw; 
}
.intro2{
    background: linear-gradient(93.22deg,#303abb 1.03%,#3ca5c2 97.94%);
    -webkit-background-clip : text;
    -webkit-text-fill-color:transparent;
    margin-top: 18px;
}
.BannerLogoImg{
    width: 450px;
    /* margin-left:120px ; */
    margin-top:40px ;
}
.Free_btn{
    color: #fff;
    background: linear-gradient(93.53deg,#444bab,#416bb3 62.5%,#3ca5c2);
    font-family: Poppins-SemiBold;
    text-transform: "capitalize";
    font-size: 1.5vw;
    white-space: nowrap;
    border: none;
    padding: 0.8vw 25px;
    border-radius: 5px;
    /* margin-left: 120px; */
    margin-top: 50px;
}
.watch-video{
    font-family: Poppins-Regular;
    font-size: 1.2vw;
    color: #263238;
    padding-top: 2vw;
    /* margin-left: 120px; */
}
.form-container{
    padding: 2vw;
    background: #fff;
    border: 1px solid rgba(68,71,88,.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: Poppins!important;
    z-index: 2;
    position: relative;
    right: 15%;
    top: 9%;
}
.intro-form-title{
    color: #4f516b;
    font-family: Poppins-Regular;
    font-size: 1vw;
    font-weight: 400;
}
.intro-form-header{
    margin-top: 1vh;
    /* font-family: Poppins;
    font-weight: 700; */
    font-size: 24px;
    margin-bottom: 1vh;
    color: #4f516b;
     font-weight: 600;
    text-align: center;
}
.form{
    font-display: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.SubmitCall{
    background: linear-gradient(93.53deg,#444bab,#416bb3 62.5%,#3ca5c2);
    width: 100%;
    font-family: Poppins-SemiBold;
    
    font-size: 1.3vw;
    white-space: nowrap;
    border: none;
    padding: 0.8vw 25px;
    border-radius: 5px; 
}
.bgColor{
    position: absolute;
    margin-top: 1.1vw;
    top: 20%;
    height: 100%;
    right: 0;
    width: 20vw;
    background: linear-gradient(180deg,#444bab,rgba(99,167,211,.266) 73.44%,rgba(110,200,225,0));
}
.Explore_Courses{
    color: #4f516b;
    font-size: 2vw;
    margin-top: 5vw;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    text-align: center;
}
.learning_contents{
    color: #505050;
    font-family: Poppins-Regular;
    font-size: 1.19vw;
    font-weight: 400;
    text-align: center;
    padding: 2vw 15vw 3vw;
}
.learningvd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 8vw;
    margin-right: 8vw;
    /* display: block;  */

}
/* .renCourseImg{
    display: block;
    padding: 1vw 1vw 2vw;
    width: 28%;
    color: #505050;
     text-decoration:underline;
    font-size: 1.5vw;
    font-family:sans-serif;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5vw; 
} */
.impact_stats{
    text-align: center;
}
.impact_title2 , h3 {
    margin-bottom: 6vw;
    margin-top: 1.3vw;
    color: #4f4f4f;
    font-family: Lato-Bold;
    font-size: 2.6vw;
    font-weight: 600;
}
.impact_title1 , .offeringHeader{
    margin-top: 7vw;
    background: -webkit-linear-gradient(92.69deg,#444bab 4.01%,#3ca5c2 135.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lato-Bold;
    font-size: 1.5vw;
    font-weight: 600;
}
.stats{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-left: 17vw;
    margin-bottom: 6vw;
    /* margin-top: 1.5vw; */
    background: -webkit-linear-gradient(92.69deg,#444bab 4.01%,#3ca5c2 135.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lato-Bold;
    font-size: 2.6vw;
    font-weight: 400;   
}
.OfferingClasses{
    margin-left: 120px;
    border-radius: 10px;
    width:400px;
}
.university , .Hire{
    margin-bottom: 1vw;
    margin-top: 4vw;
    margin-left: 8vw;
    color: #4f4f4f;
    font-family: Lato-Bold;
    font-size: 2vw;
    font-weight: 600;
}
.Boost, .SWE ,.Our_learners{
    margin-left: 8vw;
    color: #4f4f4f;
    font-weight: 180;
    font-size: 1.3vw;
}
.KnowMoreBtn{
    margin-top:3vw;
    margin-left: 8vw;
    border-radius: 5px;
    border: 1.5px solid #444bab;
    color: #303abb;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    font-family: Poppins;
    padding: 0.625vw 25px;
}
.OfferingInterview{
    margin-left: 380px;
    border-radius: 10px;
    width:400px;
}
.Alumni{
    margin-top: 15vw;
    margin-left:8vw;
    background: -webkit-linear-gradient(92.69deg,#444bab 4.01%,#3ca5c2 135.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lato-Bold;
    font-size: 1.5vw;
    font-weight: 600;
}
.Success_Stories{
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 8vw;
    color: #4f4f4f;
    font-family: Lato-Bold;
    font-size: 3vw;
    font-weight: 600;
    padding-right: 2vw;
}
.CompanyLogo{
    margin-top: 15vw;
    
}
.stories-card {
    display: flex;
    padding: 2vw 1vw;
}  
.profile-img {
    margin-left: 12vw;
    width: 15%;
    height: 15%;
} 
.story-content{
    /* bottom: 60vw; */
    margin-top: 2vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: #000;
    font-family:sans-serif;
} 
.Zeal_Vagadia{
    margin-top: 40vw;
    font-size: 12px;
    font-weight: 300;
}